<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="dbcon" value="Server=172.16.200.20;Database=blackpather0627;Uid=root;Pwd=456789;CharSet=utf8;" />
  </appSettings>
</configuration>